<h1>Ajax#index</h1>
<table>
  <%= form_tag({controller:'ajax', action:'data'}, remote:true) do %>
  <tr><th>name</th>
    <td><%= text_field_tag :name %></td></tr>
    <tr><th></th>
      <td><%= submit_tag "送信" %></td></tr>
      <% end %>
</table>

<hr>
<table id="result"></table>
