<h1>Blogconfigs#index</h1>
<p>※ブログの設定内容</p>
<table>
  <tr><th>Title</th>
    <td><%= @blogconfig.title %></td></tr>
    <tr><th>Subtitle</th>
      <td><%= @blogconfig.subtitle %></td></tr>
      <tr><th>Style Name</th>
        <td><%= @blogconfig.stylename %></td></tr>
      </table>
      <p><a href="/blogconfigs/edit">編集画面>></a></p>
