<h1>Bloggenres#index</h1>
<p>※ジャンル・データの一覧</p>
<table>
  <tr>
    <th>Id</th><th>name</th><th>memo</th><th></th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= obj.name %></td>
    <td><%= obj.memo %></td>
    <td><a href="/bloggenres/<%= obj.id %>">Edit</td>
    </tr>
    <% end %>
  </table>
  <p><a href ="/bloggenres/add">新規作成>></a></p>
