body{
  color:darkgray;
  font-size:18pt;
  margin:10px 20px;
}

h1{
  color:darkgray;
  font-size:32pt;
  margin: 50px 0px;
}

table tr th{
  background:#909090;
  color:#f6f6f6;
  padding : 10px;
  font-size:12pt;
  font-weight:bold;
}

table tr td{
  background: #f6f6f6;
  color: #909090;
  padding: 5px 10px;
  font-size:14pt;
}
